<div class="card m-5" style="width: 18rem;">
  <img class="card-img-top" src="{{img_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{release_date}}</p>
    <a href="#" class="btn btn-primary"><i class="fas fa-plus-circle"></i></a>
  </div>
</div>