<div class="col-md-4"> 
  <div class="card m-5" style="width: 25rem;">
    <img class="card-img-top" src="{{gameImage}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{gameName}}</h5>
      <p class="card-text">{{format_date releaseDate}}</p>
      <a href="#" class="btn btn-primary"><i class="fas fa-plus-circle"></i></a>
    </div>
  </div>
</div>
