<h2 class="text-white text-center m-3">Click here to create a wishlist</h2>
<div class="d-flex justify-content-center m-3">
{{!-- <input type="text" id="username-input">  --}}
<button class="btn btn-primary" id="create-wishlist">Create Wishlist</button>
</div>
<script src="/scripts/createWishlist.js"></script>